<div class="overview-parent">
    <mat-card class="card-alert">
        <mat-card-title>Open Enrollment is here! <button mat-raised-button color="primary" (click)="NavigateToAnotherArea('Benefits')">Click
            here to get started!</button></mat-card-title>
    </mat-card>

    <mat-card class="filler-content">
        <mat-card-title>Important Company Documents</mat-card-title>
        <mat-card-content>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum.
        </mat-card-content>
        <mat-card-actions><button mat-raised-button color="primary">View Documents</button></mat-card-actions>
    </mat-card>

    <mat-card class="filler-content">
        <mat-card-title>New Hire Registration:</mat-card-title>
        <mat-card-content>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum.
        </mat-card-content>
        <mat-card-actions><button mat-raised-button color="primary">Perform New Hire Functions</button></mat-card-actions>
    </mat-card>

</div>